.HeadAppContent{
background-color: #004f4f;
color: white;
font-size: 0.8rem;
padding-bottom: 20%;
text-align: left;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.titleApp{
   margin: 0 0 0 0;
}